body {
    background: darkslategrey !important;
    font-family: teko, sans-serif !important;
}

.nav-title {
    font-size: 30px !important;
}

.nav-item {
    margin-top: 7px;
    font-size: 20px;
    color: darkslategrey;
}

.letter:focus {
    outline: none;
}

.page-link.active, .active>.page-link {
    border-color: deepskyblue !important;
}

hr {
    display: none;
}

.mobile-game-el {
    font-size: 40px !important;
    border-radius: 6px !important;
}

@media (max-width: 700px) {
    .mobile-game {
        width: 100% !important;
    }
    .mobile-game-el {
        font-size: 30px !important;
        border-radius: 3px !important;
    }
    hr {
        display: block;
    }
    .start-word {
        margin: 20px auto 0 !important;
    }
    .row-word {
        width: 100% !important;
    }
}
